/* Hey Owen, I'll leave this to you, ask me if you need any sort of help. */
/*lettertype*/
@font-face {
    font-family: "pridi";
    src: url("fonts/Pridi-Regular.ttf") format("truetype");
}
html {
    font-family: "pridi", "Pridi-Regular";
    background-color: rgb(65, 62, 62);
    color: aliceblue;
}
button {
    font-family: "pridi", "Pridi-Regular";
    background-color: rgb(65, 62, 62);
    color: aliceblue;
}

button:hover {
    background-color: aliceblue;
    color: rgb(65, 62, 62);
    font-size: bold;
}
