/* Hey Owen, I'll leave this to you, ask me if you need any sort of help. */
/*lettertype*/
@font-face {
    font-family: "kopscript";
    src: url("fonts/Kopscript-Regular.ttf") format("truetype");
}
html{
    font-family: 'kopscript', 'Kopscript-Regular';
    background-color: rgb(65, 62, 62);
    color: aliceblue;
}
button{
    font-family: 'kopscript', 'Kopscript-Regular';
    background-color: rgb(65, 62, 62);
    color: aliceblue;
}


